<form action="/admin/update-information" method="POST">
<div style="width: 85%; margin-left: 5%; margin-top: 10px; background-color: rgb(182, 179, 184); border-radius: 30px;">
    <form class="form-control" style="background-color: rgb(182, 174, 189);">
   <label class="text-dark ml-5"> Enter Informations To Alert</label>
   <input style="height: 200px; width: 80%; margin-left: 100px;" type="text" name="name" class="form-control" required  >
  <label class="text-dark ml-5"> Enter Date</label>
  <input type="date" name="date" class="form-control" required style="width: 50%; margin-left: 100px;">
  <button type="submit" class="btn btn-success mt-4" style="border-radius: 20px;margin-left: 200px; width: 20%; margin-bottom: 200px;">submit</button>
  
   </form>
</div>