<section>
    <div class="container">
        
        <table class="table mt-5" id="userstable">
  <thead class="thead" style="background-color: #5B9D4F; color:white">
    <tr>
      
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Options</th>
      
    </tr>
  </thead>
  <tbody>
      {{#each users}}
    <tr>
      
      <td>{{this.Name}}</td>
      <td>{{this.Email}}</td>
      <td style='text-align:center;vertical-align:middle'>
        
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

    </div>
</section>

<script>
  $(function () {
    $('#userstable').DataTable();
  });
</script>