<div style="background-color: rgb(255, 255, 255);">
    <p style="margin-top: 20px;margin-left: 10%; color: crimson; font-size: medium;font-weight: bolder;">1.Get a COVID-19 vaccine.<br>2.Wear a mask to protect yourself and others and stop the spread of COVID-19.<br>3.Stay at least 6 feet (about 2 arm lengths) from others who don’t live with you.<br>4Avoid crowds and poorly ventilated spaces.<br>5.Wash your hands often<br>6.Cover coughs and sneezes<br>7.Clean and disinfect
    <br>8.Monitor Your Health Daily</p>

    <img src="https://st.depositphotos.com/1003593/2389/i/950/depositphotos_23895817-stock-photo-safety-first.jpg" alt="server lost check your Internet connection" style="width: 20%;height: 20%; margin-left: 40%;">
</div>
<footer style="width: 100%; height: 150px; background-color: #cccccc;">
  <p style="margin-left: 45%; margin-top: 5px;"> @st.mary's chruch</p>
  <p style="margin-left: 45%; margin-top: 2px;"><a href="#">st.marys@chruch.in</a></p>
   <img style="height: 50px; margin-left: 50%;" src="https://png.pngtree.com/png-clipart/20190515/original/pngtree-facebook-icon-png-image_3560489.jpg" alt="" >
</footer>